In [2]:
import math
import collections

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
peoples = [('Oluwanifemi', 'Aweda', 'May 21'),
           ('Gloria', 'Onuonuba', 'June 31'),
          ('Oluwadamilola', 'Aweda', 'August 12'),
           ('Dupe', 'Oyedele', 'December 8'),
          ('Oluwatobiloba', 'Aweda', 'August 12')]

In [4]:
peoples[0][0]

'Oluwanifemi'

In [5]:
peoples[3][2]

'December 8'

In [8]:
people = [people for people in peoples if people[2]=='August 12']

In [9]:
people

[('Oluwadamilola', 'Aweda', 'August 12'),
 ('Oluwatobiloba', 'Aweda', 'August 12')]

In [10]:
personType = collections.namedtuple('person', ['firstname', 'lastname', 'birthday'])

In [11]:
Gloria = personType('Gloria', 'Onuonuba', 'June 31')

In [13]:
Gloria

person(firstname='Gloria', lastname='Onuonuba', birthday='June 31')

In [14]:
Gloria[0], Gloria[1], Gloria[2]

('Gloria', 'Onuonuba', 'June 31')

In [15]:
Gloria.firstname, Gloria.lastname, Gloria.birthday

('Gloria', 'Onuonuba', 'June 31')

In [17]:
personType(*peoples[2])

person(firstname='Oluwadamilola', lastname='Aweda', birthday='August 12')

In [18]:
namedPerson = [personType(*people) for people in peoples]

In [20]:
namedPerson

[person(firstname='Oluwanifemi', lastname='Aweda', birthday='May 21'),
 person(firstname='Gloria', lastname='Onuonuba', birthday='June 31'),
 person(firstname='Oluwadamilola', lastname='Aweda', birthday='August 12'),
 person(firstname='Dupe', lastname='Oyedele', birthday='December 8'),
 person(firstname='Oluwatobiloba', lastname='Aweda', birthday='August 12')]

In [22]:
[person for person in namedPerson if person.birthday=='August 12']

[person(firstname='Oluwadamilola', lastname='Aweda', birthday='August 12'),
 person(firstname='Oluwatobiloba', lastname='Aweda', birthday='August 12')]

In [23]:
from dataclasses import dataclass

In [24]:
@dataclass
class personName:
    firatname: str
    lastname: str
    birthday: str = "Unknown"

In [25]:
Laolu = personName('Olaoluwa', 'Oyedele')

In [26]:
Laolu

personName(firatname='Olaoluwa', lastname='Oyedele', birthday='Unknown')

In [27]:
Nimi = personName('Oluwanimi', 'Oluwalase', 'October')

In [28]:
Nimi

personName(firatname='Oluwanimi', lastname='Oluwalase', birthday='October')

In [29]:
@dataclass
class personName1:
    firstname: str
    lastname: str
    birthday: str = "Unknown"
        
    def fullName(self):
        return self.firstname+ ' ' +self.lastname

In [30]:
glo = personName1('Gloria', 'Onuonuba', 'June 31')

In [31]:
glo

personName1(firstname='Gloria', lastname='Onuonuba', birthday='June 31')

In [33]:
glo.fullName()

'Gloria Onuonuba'

In [34]:
def mydefault():
    return 'I know who I am'

In [35]:
question = collections.defaultdict(mydefault)

In [36]:
question['Who are you?']

'I know who I am'

In [37]:
question

defaultdict(<function __main__.mydefault()>,
            {'Who are you?': 'I know who I am'})

In [38]:
question['What is your name']

'I know who I am'

In [39]:
question

defaultdict(<function __main__.mydefault()>,
            {'Who are you?': 'I know who I am',
             'What is your name': 'I know who I am'})

In [40]:
birthdays = collections.defaultdict(list)

for person in namedPerson:
    birthdays[person.birthday].append(person.firstname)

In [41]:
birthdays

defaultdict(list,
            {'May 21': ['Oluwanifemi'],
             'June 31': ['Gloria'],
             'August 12': ['Oluwadamilola', 'Oluwatobiloba'],
             'December 8': ['Dupe']})